* {
    box-sizing: border-box;
}

:root,
body.light {
    --body-bg: #fefefe;
    --text-color: #1f1f1f;
    --h1-color: red;
    --default-radius: 3px;
    --button-bg-color-default: #ddd;
    --button-bg-color-green: #00af87;
    --button-bg-color-blue: #1e90ff;
    --button-bg-color-red: #cc3700;
    --border-color: #1f1f1f;
    --border-color-light: #ccc;
    --font: 'Roboto', sans-serif;
    --container-max-width: 1200px;
    --note-bg-color: #e6eaef;
    --note-border: 1px solid #ccc;
}

@media (prefers-color-scheme: dark) {
    /* “flash of incorrect theme” (FOIT) for default theme */
    :root {
        --body-bg: #1f1f1f;
        --text-color: #fefefe;
        --border-color: #ddd;
        --border-color-light: #333;
        --button-bg-color-default: #303134;
        --note-bg-color: #303134;
        --note-border: 1px solid #ccc;
    }
}

body.dark {
    --body-bg: #1f1f1f;
    --text-color: #fefefe;
    --border-color: #ddd;
    --button-bg-color-default: #303134;
    --note-bg-color: #303134;
    --note-border: 1px solid #ccc;
}

body {
    display: flex;
    justify-content: center;
    background-color: var(--body-bg);
    color: var(--text-color);
    font-family: var(--font);
}

body.has-popup {
    overflow: hidden;
}

.container {
    display: grid;
    grid-template: auto 1fr / auto;
    width: 100%;
    max-width: var(--container-max-width);
}

.header {
    display: grid;
    grid-template-columns: 1fr auto;
}

.header .header-right {
    display: flex;
    flex-direction: column;
}

/* Buttons */
.custom-input {
    color: var(--text-color);
    background-color: var(--button-bg-color-default);
    padding: 0.5em 0.75em;
    border: 2px solid var(--border-color);
    border-radius: var(--default-radius);
    margin: 0.5em;
    font-family: var(--font);
    height: 32px;
}

.custom-input:hover {
    cursor: pointer;
}

.custom-input.green {
    background-color: var(--button-bg-color-green);
    border-color: var(--button-bg-color-green);
}

.custom-input.blue {
    background-color: var(--button-bg-color-blue);
    border-color: var(--button-bg-color-blue);
}

.custom-input.red {
    background-color: var(--button-bg-color-red);
    border-color: var(--button-bg-color-red);
}

.custom-input.green,
.custom-input.blue,
.custom-input.red {
    color: #fff;
    font-weight: 500;
}

.sorting-options {
    display: flex;
    flex-direction: row;
    grid-template: auto / auto;
}

.sorting-options .custom-input {
    flex: 1 1 0;
}

.custom-input:hover,
.custom-input:active {
    box-shadow: 1px 1px 10px #777;
}

.button-group {
    display: flex;
    justify-content: space-evenly;
}

.filter-button {
    position: relative;
}

.filter-button::after,
#show-finished::after {
    position: relative;
    left: 1rem;
    content: '';
}

.filter-button.arrow-asc::after {
    content: '\25B2';
}

.filter-button.arrow-desc::after {
    content: '\25BC';
}

#show-finished.is-active::after {
    content: '\002714';
}

ul.notes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5em;
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.notes > li.note {
    display: flex;
    gap: 5px;
    flex-direction: column;
    background-color: var(--note-bg-color);
    border-radius: var(--default-radius);
    border: var(--note-border);
    padding: 5px;
}

ul.notes > li.note:hover {
    cursor: pointer;
}

ul.notes > li.note h2.note-title { margin: 0; }
ul.notes > li.note p { margin: 0; }
ul.notes > li.note p.note-description { flex-grow: 1; }

ul.notes > li.note p.note-meta,
ul.notes > li.note p.note-controls {
    display: flex;
    justify-content: space-evenly;
    font-size: 0.85em;
}

/* Interaction */
ul.notes > li.note p.note-controls,
ul.notes > li.note p.note-description {
    display: none;
}

ul.notes > li.note.show-details p.note-controls,
ul.notes > li.note.show-details p.note-description {
    display: flex;
}

ul.notes > li.note.finished .done-note,
ul.notes > li.note.finished .edit-note {
    display: none;
}

.stars {
    font-size: 1.25em;
    line-height: 1;
    filter: drop-shadow(1px 1px 1px #333);
    display: flex;
}
.stars > .star:nth-child(1) { color: #ffd500; }
.stars > .star:nth-child(2) { color: #ff9500; }
.stars > .star:nth-child(3) { color: #f50; }
.stars > .star:nth-child(4) { color: #ff2a00; }

.stars > .star:nth-child(5) {
    color: #ff1500;
    font-size: 1.15em;
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

/* Popup */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup.is-open {
    display: grid;
    grid-template: auto / auto;
}

.popup-content {
    background-color: var(--body-bg);
    align-self: center;
    justify-self: center;
    width: 100%;
    max-width: 600px;
    padding: 0.5rem;
    animation-name: fadeIn;
    animation-duration: 0.5s;
}

.popup .note-form {
    display: grid;
}

.popup .popup-control {
    display: flex;
    justify-content: flex-end;
}

.popup .popup-control #close-popup {
    margin: 0 0 0.5rem 0;
}

.popup .note-form label {
    font-weight: 500;
}

.popup textarea {
    resize: vertical;
    height: 3em;
}

.input-group {
    display: grid;
    flex-direction: column;
    grid-template: auto / 1fr 5fr;
    margin-bottom: 1rem;
}

@media only screen and (max-width: 600px) {
    .input-group {
        grid-template: auto / auto;
    }

    .sorting-options {
        flex-direction: column;
    }

    .note-controls {
        flex-direction: column;
    }
}

@keyframes shake {
    0% { transform: scale(1); }
    50% { transform: scale(1.25); }
    100% { transform: scale(1); }
}
