* {
    box-sizing: border-box;
}

:root,
body.light {
    --body-bg: #fefefe;
    --text-color: #1f1f1f;
    --h1-color: red;
    --default-radius: 3px;
    --button-bg-color: #ddd;
    --border-color: #1f1f1f;
    --font: 'Roboto', sans-serif;
    --container-max-width: 1200px;
    --task-bg-color: #e6eaef;
    --task-border: 1px solid #ccc;
    --task-shadow: 2px 2px #eee;
}

@media (prefers-color-scheme: dark) {
    /* “flash of incorrect theme” (FOIT) for default theme */
    :root {
        --body-bg: #1f1f1f;
        --text-color: #fefefe;
        --border-color: #ddd;
        --task-bg-color: #4c5f77;
        --task-border: 1px solid #ccc;
        --task-shadow: 2px 2px #eee;
    }
}

body.dark {
    --body-bg: #1f1f1f;
    --text-color: #fefefe;
    --border-color: #ddd;
    --task-bg-color: #2d3947;
    --task-border: 1px solid #ccc;
    --task-shadow: 2px 2px #eee;
}

body {
    display: flex;
    justify-content: center;
    background-color: var(--body-bg);
    color: var(--text-color);
    font-family: var(--font);
}

body.has-popup {
    overflow: hidden;
}

.container {
    display: grid;
    grid-template: auto 1fr / auto;
    width: 100%;
    max-width: var(--container-max-width);
}

.header {
    display: grid;
    grid-template-columns: 1fr auto;
}

.header .header-right {
    display: flex;
    flex-direction: column;
}

/* Buttons */
.custom-input {
    color: var(--text-color);
    background-color: var(--body-bg);
    padding: 0.5em 0.75em;
    border: 2px solid var(--border-color);
    border-radius: var(--default-radius);
    margin: 0.5em;
    font-family: var(--font);
    height: 32px;
}

.sorting-options {
    display: flex;
    flex-direction: row;
}

.sorting-options .custom-input {
    flex: 1 1 0;
}

.custom-input:hover, .custom-input:active {
    box-shadow: 1px 1px 10px #777;
}

.filter-button {
    position: relative;
}
.filter-button:after {
    position: relative;
    left: 1rem;
    content: '';
}
.filter-button.arrow-asc:after {
    content: '\25B2';
}
.filter-button.arrow-desc:after {
    content: '\25BC';
}

ul.tasks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: .5em;
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.tasks > li.task {
    display: flex;
    gap: 5px;
    flex-direction: column;
    background-color: var(--task-bg-color);
    border-radius: var(--default-radius);
    border: var(--task-border);
    box-shadow: var(--task-shadow);
    padding: 5px;
}
ul.tasks > li.task h2 { margin: .5em 0 .25em; }
ul.tasks > li.task p { margin: .5em 0 .25em; }

/* Popup */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup.is-open {
    display: grid;
    grid-template: auto / auto;
}

.popup-content {
    background-color: var(--body-bg);
    align-self: center;
    justify-self: center;
    width: 100%;
    max-width: calc(var(--container-max-width) - 100px);
    padding: 1rem;
    animation-name: fadeIn;
    animation-duration: 0.5s;
}

.input-group {
    display: flex;
    flex-direction: column;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
